<!-- send email-->


	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<title>Camagru</title>
			<link rel="stylesheet" href="../public/css/home.css" type="text/css"/>
		</head>
	
		<!-- 可见的页面内容 -->
		<body>
			<div>
				<header>
					<div>
						<p><a id="Gallery" href="/">Gallery</a></p>
					</div>
				</header>
				<main>
					<div>
						<!-- 取得当前用户名字 -->
						<p class="title">ACTIVE EMAIL</p>
						<input id="email" type="test" value="your email address"></input>
						<button onclick="handleSendEmail(event)">submit</button>
					</div>
				</main>
				<footer>
					CAMAGRU - ECOLE 42 - XUWANG.
				</footer>
			</div>
		</body>
		<script type="text/javascript" src="../../public/js/activemail.js"></script>
	</html>