<!-- send email-->


	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<title>Camagru</title>
			<link rel="stylesheet" href="../public/css/home.css" type="text/css"/>
		</head>
	
		<!-- 可见的页面内容 -->
		<body>
			<div>
				<header>
					<div>
						<a>Camagru</a>
						 send email页面
					</div>
				</header>
				<main>
					<div>
						<!-- 取得当前用户名字 -->
						<input id="email" type="test" value="email">entre your email</input>
						<button onclick="handleSendEmail(event)">submit</button>
					</div>
				</main>
				<footer>
					This is footer.
				</footer>
			</div>
		</body>
		<script type="text/javascript" src="../../public/view_js/activemail.js"></script>
	</html>