<!-- homepage: before login in login signup 和数据库图片 -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Camagru</title>
		<link rel="stylesheet" href="../public/css/home.css" type="text/css"/>
		<script src="../../public/view_js/home.js" type='text/javascript'></script>
	</head>

	<!-- 可见的页面内容 -->
	<body>
		<div>
			<header>
				<div>
					<a>Camagru</a>
					<a href="/login">Login</a>
					<a href="/signup">Signup</a>
					<a href="/">logout</a>
				</div>
			</header>
			<main>
				<div id="Gallery" class="flex-center"></div>
			</main>
			<footer>
				This is footer.
			</footer>
		</div>
	</body>

</html>


<!-- DOM 介绍：DOM Document_Object_Model，将 web 页面和脚本或程序语言连接起来。能够使用如 JavaScript 等脚本语言进行修改。
<script></script>放置在<head>先下载完所有这些script，再往下解析其他的HTML。讨厌的是浏览器在下载JS时，是不能多个JS并发一起下载的。不管JS是不来来自同一个host，浏览器最多只能同时下载两个JS，且浏览器下载JS时，就block掉解析其他HTML的工作。将script放在头部，会让网页内容呈现滞后，导致用户感觉到卡。
<script></script>标签放置在<body></body>标签内部时：浏览器先解析完整个HTML页面，再下载JS
我们<script>标签这里面有两个属性（async和defer），现在80%的浏览器都可以识别他们，这两个属性能让浏览器做到一边下载JS(还是只能同时下载两个JS)，一边解析HTML。他的优点不是增加JS的并发下载数量，而是做到下载时不block解析HTML。
async属性能保证script会异步执行，只要下载完就执行，这会导致script2.js可能先于script1.js执行（如果script2.js比较大，下载慢）。
defer属性就能保证script有序执行，script1.js先执行，script2.js后执行。
-->

<!--
paragraphs = document.getElementsByTagName("P");
// paragraphs[0] is the first <p> element
// paragraphs[1] is the second <p> element, etc.
alert(paragraphs[0].nodeName);
document 对象表示文档本身，
DOM 并不是一个编程语言，但如果没有 DOM， JavaScript 语言也不会有任何网页，XML 页面以及涉及到的元素的概念或模型。
在文档中的每个元素— 包括整个文档，文档头部， 文档中的表格，表头，表格中的文本 — 都是文档所属于的文档对象模型（DOM）的一部分，因此它们可以使用 DOM 和一个脚本语言如 JavaScript，来访问和处理。 
API (web 或 XML 页面) = DOM + JS (脚本语言)
当您在创建一个脚本时 - 无论是使用内嵌 <script>元素或者使用在 web 页面脚本加载的方法— 您都可以使用 document或 window 元素的 API 来操作文档本身或获取文档的子类（web 页面中的各种元素）。
您的 DOM 编程代码可能会像下面例子一样非常简单，如使用 window对象的alert()函数显示一个警告信息
除了定义 JavaScript 的 <script> 元素外， 当文档被装载（以及当整个 DOM 可以被有效使用时），JavaScript 可以设定一个函数来运行。下面的函数会创建一个新的 H1 元素，为元素添加文本，并将 H1 添加在文档树中。
	 <head>
    <script>
    // run this function when the document is loaded
       window.onload = function() {
    // create a couple of elements
    // in an otherwise empty HTML page
       heading = document.createElement("h1");
       heading_text = document.createTextNode("Big Head!");
       heading.appendChild(heading_text);
       document.body.appendChild(heading);
      }
    </script>
  </head>
window 对象表示浏览器中的内容，而 document 对象是文档本身的根节点。
DOM 视为 HTML 网页和脚本语言之间的链接。
 Element nodes 
 Text nodes, 
 
 Tweak an Element 把Body元素更改为下面内容
 document.body.innerHTML = '<h1>This is now the heading of the body element</h1>';

选择修改元素Selectors include a tag name, a class, or an ID.
-document.querySelector('p'); 返回第一个p元素
-document.querySelectorAll('p'); 返回所有p元素
-通过它的 id 访问一个元素
 document.getElementById('bio').innerHTML = 'The description';
-getElementsByClassName() 方法返回一组元素
-getElementsByTagName() 方法返回一组元素
-通过它的 name 访问一个元素 并放入'The description'文本
 document.getElementsByName('bio').innerHTML = 'The description'
-将student 类的第一个元素设置为'Not yet registered';
document.getElementsByClassName('student')[0].innerHTML = 'Not yet registered';
获取文档中第一个 <h1> 元素
document.querySelector('h1').innerHTML = 'Most popular Harry Potter characters';
获取文档中 class="example" 的第一个元素:
document.querySelector(".example");

改变body背景颜色 Style an Element
document.body.style.backgroundColor = '#201F2E'
document.querySelector('.blue').style.fontFamily = 'Roboto'

父子节点Traverser le DOM 遍历DOM 
<ul id='groceries'>
  <li id='must-have'>Toilet Paper</li>
  <li>Apples</li>
  <li>Chocolate</li>
  <li>Dumplings</li>
</ul>
let parentElement = document.getElementById('must-have').parentNode; // returns <ul> element
let childElements = document.getElementById('groceries').children; // returns an array of <li> elements
修改第一个节点的数据
let first = document.body.firstChild;
first.innerHTML = 'BROWN BEARS ARE AWESOME!'

创建元素并插入Create and Insert Elements 
let paragraph = document.createElement('p');
paragraph.id = 'info'; 
paragraph.innerHTML = 'The text inside the paragraph';
document.body.appendChild(paragraph);最后一个子节点

新节点插入到italy-attractions
document.getElementById('italy-attractions').appendChild(newAttraction)

删除节点Remove an Element 必须在父节点上调用这个方法.removeChild() 
let paragraph = document.querySelector('p');
document.body.removeChild(paragraph);
删除节点 通过id 找到节点和父节点
let elementToRemove = document.getElementById('vespa') 
document.getElementById('italy-attractions').removeChild(elementToRemove);

隐藏一个元素 .hidden
document.getElementById('sign').hidden = true;

EVENT
点击交互  Click 
const button = document.querySelector('button');
选择button节点
button.addEventListener('click', (event) => {
  button.textContent = `Click count: ${event.detail}`;
});
button.onclick = function() { 
  element.style.backgroundColor = 'blue' 
};
1.onclick事件在同一时间只能指向唯一对象 运行最后一个
2.addEventListener给一个事件注册多个listener 全运行
3.addEventListener对任何DOM都是有效的，而onclick仅限于HTML

事件处理程序注册Event Handler Registration
function eventHandlerFunction() {
  // this block of code will run when click event happens
}
eventTarget.addEventListener('click', eventHandlerFunction);

display:none的意思：
隐藏元素并脱离文档，流就是隐藏该区域，不占实际空间

Adding Event Handlers
let view = document.getElementById('view-button');
let open = function() {
  codey.style.display = 'block';
  close.style.display = 'block';
};
view.addEventListener('click', open);
function textChange(){
  view.innerHTML = 'Hello, World!';
}
view.addEventListener('click', textChange);

function showFortune(){
  fortune.innerHTML = fortuneSelector();
  //阻止第二次运行 删除事件
  button.removeEventListener('click',showFortune)
}

Event的使用
使用Object Properties JavaScript 将事件存储为 Event 对象
function eventHandlerFunction(event){
   console.log(event.timeStamp);
}
eventTarget.addEventListener('click', eventHandlerFunction);

-->