<!-- 拍照片上传照片页面 -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Camagru</title>
		<link rel="stylesheet" href="../public/css/home.css" type="text/css"/>
		<script type="text/javascript">
			
		</script>
		
	</head>

	<!-- 可见的页面内容 -->
	<body>
		<div>
			<header>
				<div>
					<p><a id="Gallery" href="/">Gallery</a></p>
					<p><button type="button" id="logout"  onclick="handleLogout(event)" href="/home">logout</button></p>
				</div>
			</header>
			<main>
				<div class="flex-center">
					<input type="button" title="开启摄像头" value="开启摄像头" onclick="getMedia(event)">
					<input type="button" title="关闭摄像头" value="关闭摄像头" onclick="closeVideo(event)">
					<video id="video" width="500px" height="500px" autoplay="autoplay"></video>
					<button id="snap" onclick="takePhoto(event)">take picture</button>
					<canvas id="canvas" width="200" height="200" controls></canvas>
					<button id="savephoto" onclick="savePhoto(event)">save</button>
					<button id="annuler" onclick="annulePhoto(event)">annuler</button>
				</div>
				<!-- show take photo -->
				<div id="photo" class="photo">
				<!-- telecharger la photo -->
				<form action="" enctype="multipart/form-data"></form>
					<input  id="file" type="file" onchange="changepicture(this)" accept="image/png, image/jpeg, image/gif, image/jpg" />
					<img src="" id="show" width="200" />
					<button value="telecharger" onclick="savePicture(event)">save photo</button>
				</form>
				</div>
				<!-- createObjectURL -->
			</main>
			<footer>
				This is footer.
			</footer>
		</div>
	</body>
	<script src="../../public/view_js/montage.js" type="text/javascript"></script>

</html>