<!-- 拍照片上传照片页面 -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Camagru</title>
		<link rel="stylesheet" href="../public/css/home.css" type="text/css"/>
		<script type="text/javascript">
			
		</script>
		
	</head>

	<!-- 可见的页面内容 -->
	<body>
		<div>
			<header>
				<div>
					<a>Camagru</a>
					 登陆后用进去拍照页面
				</div>
			</header>
			<main>
				<div class="flex-center">
					
				</div>
			</main>
			<footer>
				This is footer.
			</footer>
		</div>
	</body>


</html>