<!-- 拍照片上传照片页面 -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Camagru</title>
		<link rel="stylesheet" href="../public/css/home.css" type="text/css"/>
		<script type="text/javascript" src="../../public/js/montage_imgs.js"></script>
		</script>
		
	</head>

	<!-- 可见的页面内容 -->
	<body>
		<div>
			<header>
				<div>
					<p><a id="Gallery" href="/">Gallery</a></p>
					<p><button type="button" id="logout"  onclick="handleLogout(event)" href="/home">logout</button></p>
				</div>
			</header>
			<main>
				<div class="flex-center">
					<div>
						<label>美颜</label>
						<select id="filter" onchange="changeFilter(this)">
							<option value="none">无</option>
							<option value="blur">模糊</option>
							<option value="grayscale">灰度</option>
							<option value="sepia">褐色</option>
							<option value="opacity">透明</option>
						</select>
					</div>
					<input type="button" title="开启摄像头" value="开启摄像头" onclick="openCamera(event)">
					<input type="button" title="关闭摄像头" value="关闭摄像头" onclick="closeVideo(event)">
					<video id="video" width="500px" height="500px" autoplay="autoplay"></video>
					<!-- 滤镜: -->
					

					<button id="snap" onclick="takePhoto(event)">take picture</button>
					<canvas id="canvas" width="200" height="200" controls></canvas>
					<button id="savephoto" onclick="savePhoto(event)">save</button>
					<button id="annuler" onclick="annulePhoto(event)">annuler</button>
				</div>
				<!-- show take photo -->
				<div id="photo" class="photo">
				<!-- telecharger la photo -->
				<!-- <form action="" enctype="multipart/form-data"></form> -->
					<input type="file" accept="image/*" onchange="changepicture(event)" />		
					<img src="" alt="" />			
					<canvas id="canvas2" width="200" height="200" controls></canvas>
					<button value="telecharger" onclick="savePicture(event)">save photo</button>
				<!-- </form> -->
				</div>
				<!-- all imgs for user -->
				<div id="allimgs" class="allimgs">
				</div>
				<button id="updateimgs" onclick="updatePages(event)">update photo</button>
			</main>
			<footer>
				This is footer.
			</footer>
		</div>
	</body>
	<script src="../../public/js/montage.js" type="text/javascript"></script>

</html>