
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Camagru</title>
		<link rel="stylesheet" href="../public/css/profile.css" type="text/css"/>
		<script type="text/javascript" src="../../public/js/profile.js">	
		</script>
		
	</head>

	<!-- 可见的页面内容 -->
	<body>
		<div>
			<header>
				<div>
					<p><a id="Gallery" href="/">Gallery</a></p>
					<p><button type="button" id="logout"  onclick="handleLogout(event)" href="/home">logout</button></p>
				</div>
			</header>
			<main>
				<div class="flex-center">
					<p>PROFILE</p>
					<p>your Username</p>
					<p class="profile" id='username'></p>

					<p>your PassWord </p>
					<p class="profile" id='password'></p>

					<p>your Email</p>
					<p class="profile" id='email'></p>
					<p>notification
						<button id="notification" onclick="handleNotification(event)">OFF</button>
					</p>
					<a href="javascript:void(0)"  font-size="large" onclick="document.getElementById('edit_page').style.display='block'">edit</a>
				</div>
				<div id="edit_page" class="editPage">
					<form  id='edit-form' class="formule" action="" formenctype="multipart/form-data">
						<p>new username</p>
						<p><input id='newuserName' type="test" value=""></p>
						<p>new Email</p>
						<p><input id='newEmail' type="test" value=""></p>
						<p>new PassWord</p>
						<p><input id='newpassWord' type="test" value=""></p>
						<p><button type="submit" onclick="handleEdit(event)">submit</button></p>
						
					</form>
				</div>
			</main>
			<footer>
				This is footer.
			</footer>
		</div>
	</body>
	<script type="text/javascript" src="../../public/js/edit.js"></script>

</html>