body {
	margin: 0;
}
.title {
	color: #cf821b;
    font-weight: bold;
    font-size: xxx-large;
	font-style: italic;
}
.nav {
	margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}
header {
	background-image: url(../img/noir.gif);
	opacity: 0.8;
	margin-top: 0%;
	height: 75px;
	right: 0px;
	overflow: hidden;
	border: 3px solid rgb(243, 237, 237);
	border-radius: 15px;
	color: #cf821b;
    font-weight: bold;
    font-size: large;
}
main {
	background-image: url(../img/noir.gif);
	opacity: 0.6;
	text-align: center;
	position: absolute;
	margin: 0px;
	padding: 20px;
	top: 80px;
	bottom: 80px;
	left: 0px;
	right: 0px;
	overflow: auto;
	color: rgb(148 121 17);
    font-family: emoji;
    font-weight: bold;

}
footer {
	background-image: url(../img/noir.gif);
	opacity: 0.8;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	bottom: 0px;
	height: 75px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	border: 3px solid rgb(240, 237, 237);
	border-radius: 15px;
	    color: #cf821b;
    font-weight: bold;
    font-size: large;
}


.img_container {
	display: initial;
	/* width: 100%;
	height: 100%; */
}

.button{
	margin-top: 30px;
	color: #664410;
    font-weight: bold;
    font-size: large;
}


